@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 360px;
    /* z-index: 1; */
  }
  
  .card {
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 28%;
    background-color: rgb(255, 255, 255);
  }
  .card:hover{
    -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.250);
    transition: 0.3s;
  }
  
  .card-img {
    width: 13rem;
    margin-bottom: 1rem;
    /* z-index: 1; */

  }
  
  .card-title {
    margin-bottom: 0px;
    /* z-index: 1; */
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 10px;

  }
  
  .bag-icon {
    color: #000000;
    margin-left: 250px;
    /* z-index: 1; */
  }

  button.send{
    background-color: rgba(245, 245, 220, 0);
    border: none;
    font-size: 25px;
  }