@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

.search{
  display: flex;
  align-items: center;
  margin-left: 185px;
  margin-bottom: 10px;
}

input.search{
  padding: 12px 20px;
  border: none;
  background: #ffffff;
  outline: none;
  margin-right: 200px;
  border-radius: 15px;
  position: relative;
  width: 50rem;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
    margin-top: 20px;
}