@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.home-wrapper{
    text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 40px;
	margin-top: 20px;
	height: 600px;
}

.welcome{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.login-container{
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 350px;
	-webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.250);
	margin-bottom: 20px;
}
.form-text{
    position: relative;
	font-family: 'Playfair Display', serif;
    font-size: 20px;
}
p.text{
    position: relative;
	font-family: 'Playfair Display', serif;
    font-size: 15px;
}

button.login{
	background-color: #dca50c;
	border: #dca50c solid;
	border-width: 2px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 20px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
}
button.login:hover{
	background-color: #ffffff;
	border: #dca50c solid;
	border-width: 2px;
	color: #dca50c;
	transition: 0.3s;
}
input.login{
    border: 3px solid #dca50c;
    border-radius: 5px;
    box-sizing: border-box; 
    height: 50px;
    margin: 10px;
	width: 250px;
	padding: 5px;
}

Link.home-button{
	text-decoration: none;
}