@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

.recommended-flex {
    display: flex;
    margin-left: 380px;
    /* z-index: 1; */
  }
  
  button.button-rec{
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
  }

  button.button-rec:hover{
    background: rgb(228, 228, 228);
    transition: 0.3s;
  }

  button.button-rec:focus{
    background: #dca50c;
    transition: 0.3s;
    color: white;
  }