@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

h1.about-left{
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

h1.about-right{
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

p.about{
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	color: #4c5669;
}

img.about-left{
	float:left;
	height: 200px;
	padding: 10px;
	border-radius: 20px;
}

img.about-right{
	float:right;
	height: 170px;
	border-radius: 25px;
	padding-right: 10px;
}

img.about-right2{
	float:right;
	height: 170px;
}

.about-wrapper{
justify-content: center;	
margin: 50px;
}

.about-section-left{
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 50px;
	text-align: left;
	-webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.250);
}

.about-section-right{
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 50px;
	text-align: right;
	-webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.250);
}